// h1{
//     @include primaryHeader;     //add properies from primaryHeader Mixin
//     @extend .example;           //adds styles from another class
//     @include mq($sm) {          //add media query for small devices
//         //do this
//     }   
    
// }


// IMPORT THIS FILE
// @import  '~@/assets/scss/_init';


//#########################
//Media Queries
//#########################


//Boostrap Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//Media query template
@mixin mq($breakpoint) {
    @media screen and (min-width: $breakpoint){
        @content;
    }
}

.example{
        //do this is general
    @include mq($sm) {
        //do this when breakpoint is small
    }
    @include mq($md) {
        //do this when breakpoint is medium    
    }
    @include mq($lg) {
        //do this when breakpoint is large    
    }  
    @include mq($xl) {
        //do this when breakpoint is X--large    
    }
}

//#########################
//Mixins
//#########################


@mixin clearFix{
    &:after{
        content:"";
        display: block;
        clear: both;
    }
}

//#########################
// Reset styles
//#########################


* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 1rem;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    overflow-x: hidden!important;
}
ol, ul {
	list-style: none;
}
a, ins {
	text-decoration: none;
    }
table {
    border-collapse: collapse;
    border-spacing: 0;
    }
fieldset, img, abbr {
    border: 0;
    }

    /* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(63, 63, 63, 0.733);
    box-shadow: solid 0 0 5px rgba(134, 134, 134, 0.493);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

//#########################
// Typography
//#########################

:root{font-size: 16px;}  

// @font-face {
//     font-family: Roboto;
// //    src: url('../fonts/fontName.ttf');
//   }


// Variables
$primaryFont: Font1; //add Font names accordingly
$secondaryFont: Font2;
$subtitleFont: Font3;
$regularFont: Font4;
$primaryColor: black;
$secondaryColor: color2;
$complementaryColor: complement($primaryColor);
$lightenPrimaryColor: lighten($primaryColor, 3);
$darkenPrimaryColor: darken($primaryColor, 3);


//Classes
.primaryFont{font-family: primaryFont;}
.secondaryFont{font-family: secondaryFont;}
.subtitleFont{font-family: subtitleFont;}
.regularFont{font-family: regularFont;}


// Mixins 
@mixin primaryHeader{
    font-family: $primaryFont;
    font-size: 2rem;
    letter-spacing: 0.02rem;
    color: black;
}

@mixin secondaryHeader {
    font-family: $secondaryFont;
    font-size: 1.7rem;
    letter-spacing: 0.02rem;
    color: black;
}

@mixin subtitleHeader {
    font-size: 1.1rem;
    font-family: $subtitleFont;
    color: rgb(163, 163, 163);
    font-size: 1rem;
    padding: 4px;
    font-weight: 500;
    letter-spacing: .02rem;    
}

@mixin regularText{
    font-family: regularFont;
    font-size: 1rem;
    color: black;
}

            
//#########################
// Utility
//#########################

.width-100{
    width: 100% !important
}

.width-100vw{
    width: 100vw !important;
}

.height-100{
    height: 100% !important;
}

.height-100vh{
    height: 100vh !important;
}

.min-width-100{
    min-width: 100% !important
}

.min-width-100vw{
    min-width: 100vw !important;
}

.min-height-100{
    min-height: 100% !important;
}

.min-height-100vh{
    min-height: 100vh !important;
}

.min-height-110vh{
    min-height: 110vh !important;
}

.hide-overflow-x{
    overflow-x: hidden;
}

.hide-overflow-y{
    overflow-y: hidden;
}

.italic{
    font-style: italic;
}

.grid-area-one{ grid-area: one;}
.grid-area-two{ grid-area: two;}
.grid-area-thi{ grid-area: thi;}
.grid-area-fou{ grid-area: fou;}
.grid-area-fiv{ grid-area: fiv;}
.grid-area-six{ grid-area: six;}
.grid-area-sev{ grid-area: sev;}
.grid-area-eig{ grid-area: eig;}
.grid-area-nin{ grid-area: nin;}
.grid-area-ten{ grid-area: ten;}

/*============== Responsive YouTube =============*/  
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
  }
  
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/*============== Black Overlay =============*/  

.transOnHover:hover{
    opacity: 0 !important;
}

@mixin blackOverlay{
    content: '';
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;  
    @extend .transOnHover;
}

.blackOverlay{
    @include blackOverlay; 
}






//#########################
// Custom
//#########################


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
$playfair: 'Playfair Display SC', serif;

.playfair{
    font-family: $playfair;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
$nanum: 'Nanum Myeongjo', serif;

.nanum{
    font-family: $nanum;
}

.standardText{
    font-style: 1rem;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: black;
    letter-spacing: 0.1px;
    line-height: 1.3rem;
}

$primaryColor:#171717;
$secondaryColor: rgb(255, 101, 101);
$tertiaryColor: rgb(185, 185, 185);

.primary-bg{
    background-color: $primaryColor !important;
}

.secondary-bg{
background-color: $secondaryColor !important;
}

.tertiary-bg{
background-color: $tertiaryColor !important;
}

.border-accent-black {
    width: 50px;
    margin-top: 15px;
    display: inline-block;
    border-bottom: 5px solid black;
}

.border-accent {
    width: 50px;
    margin-top: 15px;
    display: inline-block;
    border-bottom: 5px solid rgb(214, 214, 214);
}

.border-accent-secondary {
    width: 50px;
    margin-top: 15px;
    display: inline-block;
    border-bottom: 5px solid $secondaryColor;
}


.rightPanel {
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

.rightPanel-content {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    display: flex;
    align-items: center; 
}

.leftPanel-content{    
    display: flex;
    align-items: center;
}



body{
    background: rgb(206, 206, 206);
  
    section{
      overflow: hidden;
      margin-bottom: 0 !important;
    }
  
    
    .leftPanel{


    
    .title{
        font-family: $playfair;
        font-size: 2.5rem;
        color: rgba(250,250,250, 0.75);
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      }
  
      .card{
        padding: 15px 20px;
        h1{
          margin: 0;
        }
      }
  
      .card-content p:first-of-type{
        padding: 13px 0 ;
      }
  
    }

  }